<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintUserListController</servlet-name>
        <servlet-class>controllers.PrintUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controllers.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditController</servlet-name>
        <servlet-class>controllers.EditController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintTourListController</servlet-name>
        <servlet-class>controllers.PrintTourListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteTourController</servlet-name>
        <servlet-class>controllers.DeleteTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditTourController</servlet-name>
        <servlet-class>controllers.EditTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTourController</servlet-name>
        <servlet-class>controllers.UpdateTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertUserController</servlet-name>
        <servlet-class>controllers.InsertUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertTourController</servlet-name>
        <servlet-class>controllers.InsertTourController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchTourNameController</servlet-name>
        <servlet-class>controllers.SearchTourNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchUsernameController</servlet-name>
        <servlet-class>controllers.SearchUsernameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddToCartController</servlet-name>
        <servlet-class>controllers.AddToCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintCartController</servlet-name>
        <servlet-class>controllers.PrintCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCartController</servlet-name>
        <servlet-class>controllers.UpdateCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyController</servlet-name>
        <servlet-class>controllers.BuyController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveFromCartController</servlet-name>
        <servlet-class>controllers.RemoveFromCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutController</servlet-name>
        <servlet-class>controllers.LogoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowHistoryController</servlet-name>
        <servlet-class>controllers.ShowHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrintIndexController</servlet-name>
        <servlet-class>controllers.PrintIndexController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelController</servlet-name>
        <servlet-class>controllers.CancelController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProfileController</servlet-name>
        <servlet-class>controllers.ViewProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileController</servlet-name>
        <servlet-class>controllers.UpdateProfileController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controllers.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexSearchTourNameController</servlet-name>
        <servlet-class>controllers.IndexSearchTourNameController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTourInfoController</servlet-name>
        <servlet-class>controllers.ViewTourInfoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenPhotoFolderController</servlet-name>
        <servlet-class>controllers.OpenPhotoFolderController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintUserListController</servlet-name>
        <url-pattern>/PrintUserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/DeleteController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditController</servlet-name>
        <url-pattern>/EditController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintTourListController</servlet-name>
        <url-pattern>/PrintTourListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteTourController</servlet-name>
        <url-pattern>/DeleteTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditTourController</servlet-name>
        <url-pattern>/EditTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTourController</servlet-name>
        <url-pattern>/UpdateTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertUserController</servlet-name>
        <url-pattern>/InsertUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertTourController</servlet-name>
        <url-pattern>/InsertTourController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchTourNameController</servlet-name>
        <url-pattern>/SearchTourNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchUsernameController</servlet-name>
        <url-pattern>/SearchUsernameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddToCartController</servlet-name>
        <url-pattern>/AddToCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintCartController</servlet-name>
        <url-pattern>/PrintCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCartController</servlet-name>
        <url-pattern>/UpdateCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyController</servlet-name>
        <url-pattern>/BuyController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveFromCartController</servlet-name>
        <url-pattern>/RemoveFromCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutController</servlet-name>
        <url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowHistoryController</servlet-name>
        <url-pattern>/ShowHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrintIndexController</servlet-name>
        <url-pattern>/PrintIndexController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelController</servlet-name>
        <url-pattern>/CancelController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProfileController</servlet-name>
        <url-pattern>/ViewProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileController</servlet-name>
        <url-pattern>/UpdateProfileController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexSearchTourNameController</servlet-name>
        <url-pattern>/IndexSearchTourNameController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTourInfoController</servlet-name>
        <url-pattern>/ViewTourInfoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenPhotoFolderController</servlet-name>
        <url-pattern>/OpenPhotoFolderController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
